{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home</h1>
<br>
<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Post Master</h1>
      <p>Welcome to the Post Master site. Leave a post with your thoughts.</p>
      <p> Visit <a href="http://christsantiris.com" role="button">my website</a> to see more of my fun code projects in python and other langauges.</p>
      <p>
        <a class="btn btn-primary" href="/posts">View Posts</a>
      </p>
    </div>
  </div>
</main>
{% endblock %}